@font-face {
  font-family: 'Avenir-Light';
  src: url('/modules/core/client/css/fonts/avenir-light.eot?#iefix') format('embedded-opentype'), url('/modules/core/client/css/fonts/avenir-light.woff') format('woff'), url('/modules/core/client/css/fonts/avenir-light.ttf') format('truetype');
}
@font-face {
  font-family: 'Avenir-Book';
  src: url('/modules/core/client/css/fonts/AvenirLTStd-Book.otf') format('otf'), url('/modules/core/client/css/fonts/avenir-book.ttf') format('truetype');
}
@font-face {
  font-family: 'Avenir-Roman';
  src: url('/modules/core/client/css/fonts/avenir-roman.eot?#iefix') format('embedded-opentype'), url('/modules/core/client/css/fonts/avenir-roman.woff') format('woff'), url('/modules/core/client/css/fonts/avenir-roman.ttf') format('truetype');
}
html {
  font-size: 14px;
}
body {
  font-family: 'Avenir-Book';
  background-color: #FFFFFF;
}
h1 {
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
.uppercase {
  text-transform: uppercase;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.btn-primary {
  color: #FFFFFF;
  background-image: none;
  background-color: #32AEDE;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 2px;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #2A92BA;
  border-color: transparent;
}
.btn-large {
  font-size: 1.1rem;
}
.btn-login {
  height: 6vh;
  font-size: 1rem;
  width: 13vw;
  font-family: 'Avenir-Light';
  font-weight: bold;
}
.btn-default {
  font-size: 1rem;
}
.btn-small {
  font-size: 0.9rem;
}
.btn-full-width {
  width: 100%;
}
.btn-big {
  width: 12vw;
  height: 5vw;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Avenir-Roman';
  font-size: 1.2rem;
}
.btn-gray {
  background-color: #606B7F;
  width: 12vw;
  height: 5vw;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Avenir-Roman';
  font-size: 1.2rem;
}
.btn-gray:hover,
.btn-gray.selected,
.btn-gray:focus {
  background-color: #606B7F;
}
.widgets .widget-header {
  height: 20vh;
}
.widgets .widget-bottom {
  height: 63vh;
}
.widgets .empty-block {
  font-size: 1.5rem;
}
.widgets .first-form {
  margin-top: 1rem;
}
.widgets .form-group > label {
  color: #78909C;
  font-family: 'Avenir-Roman';
  font-weight: normal;
  font-size: 1.1rem;
}
.widgets .form-group img {
  max-width: 5rem;
}
.widgets .preview {
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  padding: 1rem;
}
.widgets .preview .preview-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.widgets .preview .preview-content img {
  max-width: 3rem;
}
.widgets .preview .preview-content span {
  margin-left: 1rem;
  color: #78909C;
  font-size: 1.1rem;
  font-family: 'Avenir-Roman';
}
.widgets .document-type-container .document-type-icons-container {
  margin-bottom: 5px;
}
.widgets .document-type-container .document-type-icons-container label {
  color: #78909C;
  font-family: 'Avenir-Roman';
  font-weight: normal;
  font-size: 1.1rem;
}
.widgets .document-type-container .document-type-icons-container .document-type-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.widgets .document-type-container .document-type-icons-container .document-type-icons img {
  width: 5.5rem;
  height: 4.5rem;
  border: 1px solid #c6c6c6;
  background-color: #EFF0F2;
  border-radius: 3px;
  margin-left: 15px;
}
.widgets .document-type-container .document-type-icons-container .document-type-icons .selected {
  border: 1px solid #000000;
}
.widgets .document-type-container .document-type-icons-container .document-type-icons .not-selected {
  border: 1px solid #c6c6c6;
}
.widgets .document-type-container .document-type-details {
  width: 100%;
  padding: 2rem;
  overflow-y: auto;
  font-size: 1rem;
  text-align: justify;
  background-color: #FFFFFF;
  position: relative;
  border: 1px solid #ddd;
  border-top: none;
}
.widgets .document-type-container .document-type-details.edit-tab {
  margin: 0;
}
.widgets .document-type-container .document-type-details .document-instructions {
  padding: 5px;
}
.widgets .document-type-container .document-type-details .document-instructions ol {
  padding: 10px;
}
.widgets .document-type-container .document-type-details .signature-preview textarea {
  height: 30vh;
}
.widgets .document-type-container .document-type-details .signature-preview .branding {
  font-size: 8px;
  position: relative;
  top: 5px;
}
.widgets .document-type-container .document-type-details textarea {
  margin-top: 15px;
  width: 100%;
  outline: none;
  resize: none;
}
.widgets .document-type-container .document-type-details .copy-button {
  position: absolute;
  top: 50px;
  right: 30px;
  z-index: 9999;
  background: #FFFFFF;
  color: #78909C;
  border: 1px solid #78909C;
  font-size: 12px;
  border-radius: 1px;
}
.widgets .document-type-container .document-type-details pre {
  border: 1px solid #c6c6c6;
  box-shadow: none !important;
}
.widgets .document-type-container .document-type-details button {
  font-size: 1rem;
}
.widgets .document-type-container .arrow-up {
  width: 10px;
  height: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #EFF0F2;
  margin-left: 3rem;
}
.widgets .document-type-container .arrow-center {
  width: 10px;
  height: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #EFF0F2;
  margin-left: 10rem;
}
.widgets .document-type-container .arrow-right {
  width: 10px;
  height: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #EFF0F2;
  margin-left: 16rem;
}
.widgets .widgets-container {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
.widgets .widgets-container .new-widget-container {
  padding: 10px;
}
.widgets .widgets-container .new-widget-container .fa-plus-circle {
  color: #32AEDE;
  margin-right: 5px;
}
.widgets .widgets-container a {
  color: #78909C;
  cursor: pointer;
}
.widgets .widgets-container .new-widget-card {
  border: 1px dashed #c6c6c6;
  height: 25vh;
  border-radius: 3px;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background-color: #FFFFFF;
}
.widgets .widgets-container .new-widget-card:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  border: 1px dashed #606B7F;
}
.widgets .widgets-container .new-widget-card .create-widget-image {
  max-width: 3rem;
  margin: 2rem auto;
}
.widgets .widgets-container .new-widget-card .create-widget-text {
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Avenir-Light';
}
.widgets .widgets-container .widget-row {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.widgets .widgets-container .widget-row a:hover {
  text-decoration: none;
}
.widgets .widgets-container .widget-card {
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px #AAAAAA;
  height: 25vh;
  border-radius: 3px;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
}
.widgets .widgets-container .widget-card .widget-details {
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.widgets .widgets-container .widget-card .widget-details .img-container {
  margin-right: 5px;
}
.widgets .widgets-container .widget-card .widget-details img {
  max-width: 3rem;
}
.widgets .widgets-container .widget-card .widget-details .widget-text {
  font-weight: bold;
}
.widgets .widgets-container .widget-card .widget-name-text {
  font-size: 1rem;
  font-weight: bold;
  color: #78909C;
  height: 5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.widgets .widgets-container .widget-card .widget-created {
  text-align: center;
  color: #606B7F;
  opacity: 0.5;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.widgets .widgets-container .widget-card .widget-conversation-code {
  text-align: center;
  color: #78909C;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.widgets .widgets-container .widget-card .widget-options-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2vh;
}
.widgets .widgets-container .widget-card .widget-options-new a:hover {
  text-decoration: none;
}
.widgets .widgets-container .widget-card .widget-options-new i {
  color: #78909C;
  opacity: 0.5;
  font-size: 1.3rem;
}
.widgets .widgets-container .widget-card .widget-options-new i:hover {
  color: #5F6B7E;
  opacity: 1;
}
.widgets .widgets-container .widget {
  padding: 10px;
  border: 1px solid #c6c6c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  box-shadow: 2px 2px 2px #78909C;
}
.widgets .widgets-container .widget img {
  max-width: 4rem;
  margin-right: 10px;
}
.widgets .widgets-container .widget .widget-name {
  font-size: 12px;
  text-align: center;
  font-style: italic;
}
.widgets .widgets-container .widget .widget-details {
  margin-left: 2rem;
}
.widgets .widgets-container .widget-options {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.widgets .widgets-container .widget-options a {
  cursor: pointer;
}
.widgets .widgets-container .widget-options a i {
  margin-right: 5px;
}
.nav-tabs li a {
  color: #78909C;
}
.nav-tabs li a:hover {
  color: #5F6B7E;
}
.nav-tabs .active a {
  color: #5F6B7E !important;
  font-weight: bold;
}
.copy-link a {
  color: #78909C;
  text-decoration: none;
  cursor: pointer;
}
.copy-link a:hover {
  text-decoration: underline;
}
.not-found {
  color: #78909C;
  font-weight: bold;
}
.not-found h1 {
  color: #000000;
  text-align: center;
}
.column-border {
  border: 0px !important;
  border-bottom: 1px solid #d6d6d6 !important;
  color: #606B7F;
}
.table-heading {
  border: 0px !important;
  font-size: 1.2rem;
  color: #606B7F;
  font-weight: bold;
}
.no-border {
  border: 0px !important;
  display: table-cell;
  vertical-align: middle !important;
}
.center-vertical {
  vertical-align: middle !important;
  display: table-cell;
}
.assign_status_image_wd {
  width: 1rem;
}
.widget_list_image_wd {
  width: 2rem;
}
.tabmenu {
  /*border-bottom: 3px solid #AAAAAA;*/
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #78909C;
  font-weight: bold;
}
.tabmenu li.active {
  border-bottom: 3px solid #32AEDE;
}
.tabmenu li {
  display: inline;
  cursor: pointer;
  padding: 0 10px;
  border-bottom: 3px solid #f5f5f5;
  width: 50%;
}
.widget_inner {
  height: 83vh;
  margin-top: 3.5rem;
  padding: 1rem 5rem;
  background-color: #ffffff;
  /*border-style:1px dotted;*/
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  border: 1px dashed #c6c6c6;
}
.widget_qr_image {
  width: auto;
  height: 6rem;
}
.input_box {
  /*border-radius: 0px !important;*/
  height: 4rem;
  width: 35rem;
}
.input_box_range {
  height: 3rem;
}
.middle_sign {
  color: #888585;
}
.heading_create_widget {
  width: 100%;
  text-align: center;
  color: #888585;
  /*font-family: bold;*/
  margin-bottom: 4rem;
}
.widget-heading {
  text-align: center;
  color: #78909C;
  padding: 1rem;
  font-size: 1.5rem;
}
.widgets_buttons {
  height: 20%;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.create_btn {
  background-color: #32AEDE;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  height: 3rem;
}
.cancel_btn {
  margin-top: 0.2rem;
  background: transparent !important;
  color: red;
  border: 0 !important;
  box-shadow: none !important;
}
.cancel_btn:hover {
  background: transparent !important;
  color: red;
  border: 0;
  box-shadow: none;
}
.range {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.height-10 {
  height: 10%;
}
.height-40 {
  height: 30%;
}
.height-50 {
  height: 60%;
}
.form-contents {
  height: 70%;
}
.button-contents {
  height: 35%;
}
.header-height {
  height: 20vh;
}
.widget-title {
  font-size: 1.5rem;
  word-spacing: 1rem;
  margin-left: 0px;
}
.right-align {
  margin-left: auto;
  margin-right: 0;
}
.widget-separator {
  font-size: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.span-center {
  display: inline-block;
  vertical-align: middle;
}
.add-new-widget {
  text-decoration: underline;
  color: #32AEDE;
}
.design-widget {
  text-decoration: underline;
  color: #757575;
}
.widget-dropdown {
  background: #ffffff;
  color: #757575;
  border: 1px solid #757575;
  border-radius: 0;
}
.widget-row-line-height {
  line-height: 6vh;
}
.row-height {
  height: 6vh;
}
.mg-right-2rem {
  margin-right: 2rem;
}
.blue-color {
  color: #32AEDE;
}
.gray-color {
  color: #606B7F;
}
.green-color {
  color: #19c3ae;
}
.light-gray-color {
  color: #94979e;
}
.label_left {
  text-align: left !important;
}
.validationError {
  color: red;
}
.Unicode {
  border: transparent;
  color: #b5b5b5;
  font-size: 1.5rem;
  letter-spacing: 0.7rem;
  height: 3rem;
  width: 16rem;
}
.input_box_widget {
  height: 3rem;
}
.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.padding-1rem {
  padding: 1rem;
}
.range-separator {
  background: #b5b5b5;
  height: 0.2rem;
  width: 0.6rem;
}
.vetical-align {
  vertical-align: middle;
}
bootstrap-select {
  max-width: 200px;
}
.bootstrap-select .btn {
  background-color: #141414;
  border-style: solid;
  border-left-width: 3px;
  border-left-color: #00DDDD;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-radius: 0 !important;
  color: white;
  font-weight: 200;
  padding: 12px 12px;
  font-size: 16px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.bootstrap-select .dropdown-menu {
  margin: 15px 0 0;
}
select::-ms-expand {
  /* for IE 11 */
  display: none;
}
@media only screen and (max-width: 500px) {
  .widgetImg {
    height: 5vh;
    width: auto;
  }
  .table-container {
    padding: 0;
  }
  .widgetName {
    max-width: 18vw;
  }
}
