<div class='col-xs-12 col-sm-3 right-col'>
	<div class="signup-container" ng-controller="AuthenticationController as vm">
		<h3 class='centered'>Sign Up For Free</h3>
		<form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group" show-errors>
					<input type="text" id="name" name="name" class="form-control" ng-model="vm.credentials.name" placeholder="Full Name" required
					 autofocus>
					<div ng-messages="vm.userForm.name.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Please enter your name</p>
					</div>
				</div>
				<div class="form-group" show-errors>
					<input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="Email" ng-readonly="true" required>
					<div ng-messages="vm.userForm.email.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Email address is required.</p>
						<p class="help-block error-text" ng-message="email">Email address is invalid.</p>
					</div>
				</div>
				<div class="form-group" show-errors>
					<input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password"
					password-validator ng-minlength="5" ng-maxlength="30" required>
					<div ng-messages="vm.userForm.password.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Password is required.</p>
        <p class="help-block error-text" ng-message="minlength">Password is too short.</p>
        <p class="help-block error-text" ng-message="maxlength">Password is too long.</p>
					</div>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary btn-login btn-full-width">Get Started</button>
				</div>
			</fieldset>
		</form>
	</div>		
</div>