<div class="row full-height-section signin horizontal-centered vertical-centered">
  <div class="signin-container col-md-5 col-sm-9 col-xs-10">
    <h3>Restore your password</h3>
    <p class="small text-center">Enter your registered email address</p>
    <div class="row">
      <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal"
        novalidate autocomplete="off">
        <fieldset>
          <div class="form-group" show-errors>
            <input type="text" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="Email Address"
              required autofocus>
            <div ng-messages="vm.forgotPasswordForm.email.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Please enter your registered email address</p>
            </div>
          </div>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>    
  </div>
</div>