@font-face {
  font-family: 'Avenir-Light';
  src: url('/modules/core/client/css/fonts/avenir-light.eot?#iefix') format('embedded-opentype'), url('/modules/core/client/css/fonts/avenir-light.woff') format('woff'), url('/modules/core/client/css/fonts/avenir-light.ttf') format('truetype');
}
@font-face {
  font-family: 'Avenir-Book';
  src: url('/modules/core/client/css/fonts/AvenirLTStd-Book.otf') format('otf'), url('/modules/core/client/css/fonts/avenir-book.ttf') format('truetype');
}
@font-face {
  font-family: 'Avenir-Roman';
  src: url('/modules/core/client/css/fonts/avenir-roman.eot?#iefix') format('embedded-opentype'), url('/modules/core/client/css/fonts/avenir-roman.woff') format('woff'), url('/modules/core/client/css/fonts/avenir-roman.ttf') format('truetype');
}
html {
  font-size: 14px;
}
body {
  font-family: 'Avenir-Book';
  background-color: #FFFFFF;
}
h1 {
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
.uppercase {
  text-transform: uppercase;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
